{% extends '../index_master.html' %} 
{% block title %}
Lista de Segmento
{% endblock %}

{% block content %} 
<div class="right_col" role="main">
    <h1> Lista de Segmento </h1>
  <div sytle="display: inline-block">
    <form action="" method="POST" sytle="display: inline-block">
    {%csrf_token%}
    <input type="text" name="keyword" id="keyword" class="from-control" style=" width: 200px!important; display: inline-block">
    <button type="submit" name="search" class="btn btn-success"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <button name="agregar_segmento" class="btn btn-primary" onclick="window.location.href= 'agregar_segmento'"> <i class="fa fa-plus"></i>Nuevo Segmento</button>   

  <div style="overflow-x: auto;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Fecha de Registro</th>
            <th scope="col">Accion</th>


          </tr>
        </thead>
        <tbody>
            
        {% for s in segmento %}  
          <tr>
            <th scope="row">{{ s.id }}</th>
            <td>{{ s.nombre }}</td>
            <td>{{ s.apellido }}</td>
            <td>{{ s.correo }}</td>
            <td>{{ s.telefono }}</td>
            <td>{{ s.documento }}</td>
            <td>{{ s.f_nac }}</td>
            <td>{{ s.f_registro }}</td>
            <td>
              <button class="btn btn-warning" onclick="window.location.href='actualizar_segmento/{{ s.id }}'"><i class= "fa fa-refresh"></i></button>
              <button class="btn btn-danger" onclick="window.location.href='eliminar_segmento/{{ s.id }}'"><i class= "fa fa-trash"></i></button>
            </td>
          </tr>
        {% endfor %} 

        </tbody>
      
      </table>

</input>

{% endblock %}   